.categories .section-title {
  width: 318px;
  margin: 0 auto;
  margin-top: 60px;
}

.categories-cards {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.categories-cards a.card {
  width: 312px;
  height: 220px;
  background-color: var(--backgroud-secondary-color);
  text-align: center;
  padding: 24px;
  border-radius: 16px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-primary-color);
}

.categories-cards .card.single-line {
  padding-top: 30px;
}
.categories-cards .card.single-line.transfer img {
  margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .categories .section-title {
    width: 100%;
    margin-top: 60px;
  }
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards a.card {
    width: 206px;
  }
  .categories-cards .card.content-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .categories-cards a.card {
    width: 280px;
  }
}
