footer .logo-footer{
    width: 162px;
    height: 40px;
    margin-top: 32px;
}

footer{
    background-color: var(--backgroud-tertiary-color);
    width: 100%;
    height: 360px;
    align-items: center;
}

footer p {
    width: 280px;
    margin: 8px auto 16px;
}

.social-network{
    margin-top: 32px;
}