@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --backgroud-primary-color: #ffffff;
  --backgroud-secondary-color: #f5f5f5;
  --backgroud-tertiary-color: #000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --menu-weight: 400;
  --menu-text-weight: 500;
}

body,
h1,
p,
img,
fieldset,
legend,
label,
input,
select,
textarea,
button{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
