.grid-layout {
  display: grid;
  grid-template-areas:
    "bag passport"
    "people people";
  grid-template-columns: 144px 144px;
  gap: 24px;
  margin-top: 24px;
}

.image-content .image.bag {
  width: 144px;
  height: 254px;
  background-image: url(../img/bg-bag-mobile.jpg);
  background-position: center;
  background-size: cover;
  grid-area: bag;
}

.image-content .image.passport {
  width: 144px;
  height: 254px;
  background-image: url(../img/bg-passport-mobile.jpg);
  background-position: center;
  background-size: cover;
  grid-area: passport;
}

.image-content .image.people {
  width: 312px;
  height: 182px;
  background-image: url(../img/bg-people-mobile.jpg);
  background-position: center;
  background-size: cover;
  grid-area: people;
}

@media screen and (min-width: 768px) {
  .grid-layout {
    grid-template-columns: 312px 312px;
  }
  .image-content .image.bag {
    width: 312px;
    height: 254px;
    background-image: url(../img/bg-bag-tablet.jpg);
  }

  .image-content .image.passport {
    width: 312px;
    height: 254px;
    background-image: url(../img/bg-passport-tablet.jpg);
  }

  .image-content .image.people {
    width: 648px;
    height: 182px;
    background-image: url(../img/bg-people-tablet.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .section-payments {
    display: flex;
    justify-content: space-evenly;
  }

  .section-payments p{
    width: 310px;
  }

  .grid-layout {
    grid-template-columns: 260px 260px;
  }
  .image-content .image.bag {
    width: 260px;
    height: 254px;
    background-image: url(../img/bg-bag-tablet.jpg);
  }

  .image-content .image.passport {
    width: 260px;
    height: 254px;
    background-image: url(../img/bg-passport-tablet.jpg);
  }

  .image-content .image.people {
    width: 546px;
    height: 182px;
    background-image: url(../img/bg-people-tablet.jpg);
  }
  .secton-payments.content-text{
    width: 330px;
  }
}

@media screen and (min-width: 1440px) {
  .section-payments {
    display: flex;
  }
.section-payments p{
    width: 380px;
  }

  .grid-layout {
    grid-template-columns: 382px 382px;
  }
  .image-content .image.bag {
    width: 382px;
    height: 254px;
    background-image: url(../img/bg-bag-tablet.jpg);
  }

  .image-content .image.passport {
    width: 382px;
    height: 254px;
    background-image: url(../img/bg-passport-tablet.jpg);
  }

  .image-content .image.people {
    width: 790px;
    height: 182px;
    background-image: url(../img/bg-people-tablet.jpg);
  }
}
